<div class="jumbotron">
  <div class="container">
    <h3><%= @membership.organization.name %></h3>
    <h5><%= @membership.organization.description %></h5>
  </div>
</div>
<h1>Horarios</h1>
<%= link_to(add_job_path(@membership), :method => :get) do  %>
<button class="btn btn-success btn-xs">
  <span class="glyphicon glyphicon-plus">Puesto</span> 
</button>
<% end %>
<div class="container">
  <% @membership.schedules.each do |schedu| %>
    <div class="table-responsive">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <td> <%= schedu.job %> </td>
          </tr>
          <tr>
            <td>Lunes</td>
            <td>Martes</td>
            <td>Miercoles</td>
            <td>Jueves</td>
            <td>Viernes</td>
            <td>Sabado</td>
            <td>Domingo</td>
            <td>
              <%= link_to(add_sc_detail_path(schedu), :method => :get) do  %>
                <button class="btn btn-success btn-xs">
                  <span class="glyphicon glyphicon-plus"></span> 
                </button>
              <% end %>
            </td>
          </tr>
        </thead>
        <tbody>

          <% schedu.schedule_details.each do |detail| %>
            <tr>

              <% if schedu.id == detail.schedule_id %>

                <td>
                  <% if detail.week_day == 'Lunes' %>
                    <%= detail.entry_time %> - <%= detail.exit_time %>
                  <% end %>
                </td>

                <td>
                  <% if detail.week_day == 'Martes' %>
                    <%= detail.entry_time %> - <%= detail.exit_time %>
                  <% end %>
                </td>

                <td>
                  <% if detail.week_day == 'Miercoles' %>
                    <%= detail.entry_time %> - <%= detail.exit_time %>
                  <% end %>
                </td>

                <td>
                  <% if detail.week_day == 'Jueves' %>
                    <%= detail.entry_time %> - <%= detail.exit_time %>
                  <% end %>
                </td>

                <td>
                  <% if detail.week_day == 'Viernes' %>
                    <%= detail.entry_time %> - <%= detail.exit_time %>
                  <% end %>
                </td>

                <td>
                  <% if detail.week_day == 'Sabado' %>
                    <%= detail.entry_time %> - <%= detail.exit_time %>
                  <% end %>
                </td>

                <td>
                  <% if detail.week_day == 'Domingo' %>
                    <%= detail.entry_time %> - <%= detail.exit_time %>
                  <% end %>
                </td>

              <% end %>


              <td>
               
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</div>